.shop{
    display: grid;
    grid-template-columns: 4fr 1fr;
    align-items: flex-start;
}

.products-wrapper{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 30px;
    row-gap: 25px;
    padding: 90px 75px;
}