.cart-info{
    margin-bottom: 50px;
}

.cart-wrapper{
    background: #FFE0B3;
    color: black;
    min-height: 100vh;
    position: sticky;
    top: 0;
    padding: 0 25px;
}

.cart-wrapper h2{
    text-align: center;
    font-weight: normal;
    margin-bottom: 50px;
    margin-top: 30px;
}

.btn{
    width: 100%;
    padding: 12px 0;
    border-radius: 4px;
    color: white;
    border: none;
    font-size: 17px;
    cursor: pointer;
}

.clear-cart-btn{
    background: #FF3030;
    margin-bottom: 15px;
}

.review-order-btn{
    background: #FF9900;
}