.order-shop{
    padding: 100px 150px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 150px;
}

.order-products-wrapper{
    grid-column: span 3 / span 3;
    display: grid;
    row-gap: 20px;
}

.order-cart-wrapper{
    grid-column: span 2 / span 2;
    min-height: fit-content;
    border-radius: 8px;
    padding-bottom: 25px;
}