.notFound{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.notFound h1{
    font-weight: 400;
    font-size: 62px;
}

.fourOfour{
    border-right: 2px solid #FF9900;
    padding-right: 10px;
}