li {
    list-style: none;
}

.navbar {
    height: 80px;
    background-color: #1C2B35;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 8rem;
    position: relative;
}

.nav-items {
    display: flex;
    gap: 1.2rem;
    color: white;
}

.nav-items a {
    text-decoration: none;
    color: white;
}

.nav-items li {
    cursor: pointer;
}

.nav-items li:hover {
    color: orange;
}

.nav-items a:hover {
    color: orange;
}

.menu-icon {
    color: white;
    position: absolute;
    right: 0;
    margin-right: 20px;
    cursor: pointer;
    display: none;
}

/* media query */

@media screen and (max-width: 900px) {
    .nav-items {
        display: none;
        position: absolute;
        right: 0;
        top: 70%;
        z-index: 1;
        background-color: #293a45;
        padding: 20px;
        border-radius: 8px;
    }

    .nav-items li {
        margin-bottom: 10px;
    }

    .nav-items li:last-child {
        margin-bottom: 0;
    }

    .navbar {
        justify-content: center;
    }

    .menu-icon {
        display: block;
    }
}